// zadanie 1
$base-link-color: red;
$base-link-color-hover: green;

$base-link-border-width: 10px;
$base-link-hover-border-width: 20px;

a {
  color: $base-link-color;
  border: $base-link-border-width solid black;
}

a:hover {
   color: $base-link-color-hover;
  border: $base-link-hover-border-width solid black;
}

// zadanie 2

$color1: red;
$color2: magenta;
$color3: yellow;
$color4: blue;

table{
  tr{
    td{
      padding: 10px;
      background-color: $color1;
      &:nth-child(even){
        background-color: $color3;
      }
    }
    &:nth-child(odd){
      td{
        background-color: $color2;
        &:nth-child(even){
          background-color: $color4;
        }
      }
    }
  }
}



// zadanie 3

nav {
  background-color: green;
  > ul {
    list-style: none;
    > li {
      display: inline-block;
      background: yellow;
      text-align: center;
      a {
        display: inline-block;
        padding: 20px;
        width: 100px;
        text-decoration: none;
      }
      &:hover {
        background: magenta;
        a {
          color: #666;
        }
        ul {
          display: block;
        }
      }
      ul {
        display: none;
        list-style: none;
        position: absolute;
        li {
          background: blue;
        }
      }
    }
  }
}

<nav>
  <ul>
    <li><a href="http://onet.pl">Menu 1</a></li>
    <li>
      <a href="http://onet.pl">Menu 2</a>
      <ul>
        <li><a href="http://onet.pl">SubMenu 1</a></li>
        <li><a href="http://onet.pl">SubMenu 2</a></li>
        <li><a href="http://onet.pl">SubMenu 2</a></li>
      </ul>
    </li>
    <li><a href="http://onet.pl">Menu 2</a></li>
  </ul>
</nav>

// Zadanie 5
@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

div {
  background: #f0f;
  padding: 10px;
  float: left;
  
  @include border-radius(10px);
}

// zadanie PX -> REM

@mixin calculateRem($size) {
  $remSize: $size / 16px;
  font-size: $remSize * 1rem;
}
p {
  @include calculateRem(14px)
}

// zadanie 6
<div>
  <div class="left">
    left
  </div>
  <div class="center">
    center
  </div>
  <div class="right">
    right
  </div>
</div>

$base-width: 960px;

.left {
  background: red;
  width: $base-width * 0.2;
  float: left;
}

.center {
  background: yellow;
  width: $base-width * 0.6;
  float: left;
}

.right {
  background: green;
  width: $base-width * 0.2;
  float: left;
}

// zadanie 7
<div class="error">
  left
</div>
<div class="serious-error">
  center
</div>
<div class="critical-error">
  right
</div>

.error {
  background: red;
  border: 2px solid yellow;
  padding: 10px;
}

.serious-error {
  @extend .error;
  background: blue;
  border: 20px dotted white;
}

.critical-error {
  @extend .error;
  background: lime;
}
