// zadanie 1
$base-link-color: red;
$base-link-color-hover: green;

$base-link-border-width: 10px;
$base-link-hover-border-width: 20px;

a {
  color: $base-link-color;
  border: $base-link-border-width solid black;
}

a:hover {
   color: $base-link-color-hover;
  border: $base-link-hover-border-width solid black;
}

// zadanie 2

$color1: red;
$color2: magenta;
$color3: yellow;
$color4: blue;

table{
  tr{
    td{
      padding: 10px;
      background-color: $color1;
      &:nth-child(even){
        background-color: $color3;
      }
    }
    &:nth-child(odd){
      td{
        background-color: $color2;
        &:nth-child(even){
          background-color: $color4;
        }
      }
    }
  }
}



// zadanie 3

nav {
  background-color: green;
  > ul {
    list-style: none;
    > li {
      display: inline-block;
      background: yellow;
      text-align: center;
      a {
        display: inline-block;
        padding: 20px;
        width: 100px;
        text-decoration: none;
      }
      &:hover {
        background: magenta;
        a {
          color: #666;
        }
        ul {
          display: block;
        }
      }
      ul {
        display: none;
        list-style: none;
        position: absolute;
        li {
          background: blue;
        }
      }
    }
  }
}

<nav>
  <ul>
    <li><a href="http://onet.pl">Menu 1</a></li>
    <li>
      <a href="http://onet.pl">Menu 2</a>
      <ul>
        <li><a href="http://onet.pl">SubMenu 1</a></li>
        <li><a href="http://onet.pl">SubMenu 2</a></li>
        <li><a href="http://onet.pl">SubMenu 2</a></li>
      </ul>
    </li>
    <li><a href="http://onet.pl">Menu 2</a></li>
  </ul>
</nav>

// Zadanie 5
@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

div {
  background: #f0f;
  padding: 10px;
  float: left;
  
  @include border-radius(10px);
}

