// zadanie 1
$base-link-color: red;
$base-link-color-hover: green;

$base-link-border-width: 10px;
$base-link-hover-border-width: 20px;

a {
  color: $base-link-color;
  border: $base-link-border-width solid black;
}

a:hover {
   color: $base-link-color-hover;
  border: $base-link-hover-border-width solid black;
}

// zadanie 2

$color1: red;
$color2: magenta;
$color3: yellow;
$color4: blue;

table{
  tr{
    td{
      padding: 10px;
      background-color: $color1;
      &:nth-child(even){
        background-color: $color3;
      }
    }
    &:nth-child(odd){
      td{
        background-color: $color2;
        &:nth-child(even){
          background-color: $color4;
        }
      }
    }
  }
}
